.cardContainer{
    margin: 10px;
    background:linear-gradient(to bottom,rgb(103, 99, 99),rgb(39, 37, 37));
    border-radius: 25px;
    min-height: 100vh;
    
}
.NameBox{
    height: 150px;
    background:linear-gradient(to bottom,rgb(103, 99, 99),rgb(39, 37, 37));
    border-bottom:2px solid rgb(30, 31, 31);
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    align-items: center;
    border-radius: 25px 25px 0 0;
}
.NameBox h1{
    font-size: 30px;    
    font-weight: bold;
    letter-spacing: 2px;
}




