.heading{
    color:rgb(201, 186, 186);
    border-bottom: 1px solid #494a4b;
    padding:15px;
    font-size: 20px;
    font-weight: bold;
}
.classContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 12px;
    
}
.teaching .enrolled{
    min-height: 250px;
}
.classCard {
  background: linear-gradient(145deg, #1c1c1e, #2a2a2e);  
  width: 375px;
  height: 250px;
  margin: 8px;
  border-radius: 10px;
}

.smallbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;
}
.info p{
    margin-bottom: 2px;
    color: #030507;
    font-weight: 500;
}



.noClass{
        color: rgb(96, 101, 105);
        margin: 20px;
}